<!DOCTYPE html>
<html>
	<head>
		<title>Eighth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>Until Henry Ford formed his own company in 1903, which great inventor-friend employed him?</p>
		<form action="/question9" method="get">
  			<p><input type="radio" name="answer" value="A">Thomas Edison</p>
  			<p><input type="radio" name="answer" value="B">Benjamin Franklin</p>
  			<p><input type="radio" name="answer" value="C">Barack Obama</p>
  			<p><input type="radio" name="answer" value="D">Bill Gates</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>