<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>How fast can a Stock Mustang Boss 302 accelerate from 0mph to 60?mph</h1></font></center>
		<form action="/question11" method="get"><center></center><font color="white">
  			<p><input type="radio" name="answer" value="A">3.3</p>
  			<p><input type="radio" name="answer" value="B">4.3</p>
  			<p><input type="radio" name="answer" value="C">3.564</p>
  			<p><input type="radio" name="answer" value="D">6.54</p>
  			<input type="submit">
		</font></center></form>
		</div>
	</body>
</html>