<!DOCTYPE html>
<html>
	<head>
		<title>Eighth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>Until Henry Ford formed his own company in 1903, which great inventor-friend employed him?</h1></font></center>
		<form action="/question9" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Thomas Edison</p>
  			<p><input type="radio" name="answer" value="B">Benjamin Franklin</p>
  			<p><input type="radio" name="answer" value="C">Barack Obama</p>
  			<p><input type="radio" name="answer" value="D">Bill Gates</p>
  			<input type="submit">
		</font></center></form>
	</div>
	</body>
</html>