<!DOCTYPE html>
<html>
	<head>
		<title>Sixth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>What is the best-selling vehicle nameplate in the world?</p>
		<form action="/question7" method="get">
  			<p><input type="radio" name="answer" value="A">Ford Mustang</p>
  			<p><input type="radio" name="answer" value="B">Volkswagen Beetle</p>
  			<p><input type="radio" name="answer" value="C">Honda Civic</p>
  			<p><input type="radio" name="answer" value="D">Toyota Corolla</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>