<!DOCTYPE html>
<html>
	<head>
		<title>Tenth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>How fast can a Stock Mustang Boss 302 accelerate from 0mph to 60?mph</p>
		<form action="/question11" method="get">
  			<p><input type="radio" name="answer" value="A">3.3</p>
  			<p><input type="radio" name="answer" value="B">4.3</p>
  			<p><input type="radio" name="answer" value="C">3.564</p>
  			<p><input type="radio" name="answer" value="D">6.54</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>