<!DOCTYPE html>
<html>
	<head>
		<title>Second Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>What is Four wheel drive (FWD)?</p>
		<form action="/question3" method="get">
  			<p><input type="radio" name="answer" value="A">When all four wheels are touching the ground</p>
  			<p><input type="radio" name="answer" value="B">When the steering wheel turns all four wheels</p>
  			<p><input type="radio" name="answer" value="C">When all Four wheels are spinning</p>
  			<p><input type="radio" name="answer" value="D">A transmission system that provides power directly to all four wheels of a vehicle</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>
