<!DOCTYPE html>
<html>
	<head>
		<title>Fifth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>What was the name of the first affordible car?</p>
		<form action="/question6" method="get">
  			<p><input type="radio" name="answer" value="A">RIAHC-1</p>
  			<p><input type="radio" name="answer" value="B">Station Wagon</p>
  			<p><input type="radio" name="answer" value="C">Model-T</p>
  			<p><input type="radio" name="answer" value="D">The Barly 1501</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>