<!DOCTYPE html>
<html>
	<head>
		<title>Third Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>Which of the following does not have a drive shaft?</h1></font></center>
		<form action="/question4" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Rear Wheel Drive (RWD)</p>
  			<p><input type="radio" name="answer" value="B">Front Wheel Drive (FWD)</p>
  			<p><input type="radio" name="answer" value="C">Four Wheel Drive (4WD)</p>
  			<p><input type="radio" name="answer" value="D">All Wheel Drive (AWD)</p>
  			<input type="submit">
		</font></center></form>
		</div>
	</body>
</html>
