<!DOCTYPE html>
<html>
	<head>
		<title>Seventh Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>Who won his third and Final Formula 1 World Drivers championship in a car of his own design?</h1></font></center>
		<form action="/question8" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Neal Armstrong</p>
  			<p><input type="radio" name="answer" value="B">Patric Star</p>
  			<p><input type="radio" name="answer" value="C">Jack Brabham</p>
  			<p><input type="radio" name="answer" value="D">James Murphy</p>
  			<input type="submit">
  		</font></center></form>
	</div>
	</body>
</html>