<!DOCTYPE html>
<html>
	<head>
		<title>First Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>Which company invented the first affordable car?</h1></font></center>
		<form action="/question2" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Ford</p>
  			<p><input type="radio" name="answer" value="B">Chevy</p>
  			<p><input type="radio" name="answer" value="C">Toyota</p>
  			<p><input type="radio" name="answer" value="D">Honda</p>
  			<input type="submit">
		</font></center></form>
	</div>
	</body>
</html>
