<!DOCTYPE html>
<html>
	<head>
		<title>First Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>Which company invented the first affordable car?</p>
		<form action="/question2" method="get">
  			<p><input type="radio" name="answer" value="A">Ford</p>
  			<p><input type="radio" name="answer" value="B">Chevy</p>
  			<p><input type="radio" name="answer" value="C">Toyota</p>
  			<p><input type="radio" name="answer" value="D">Honda</p>
  			<input type="submit">
		</form>
	</body>
</html>
