<!DOCTYPE html>
<html>
	<head>
		<title>Second Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>What is Four wheel drive (FWD)?</h1></font></center>
		<form action="/question3" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">When all four wheels are touching the ground</p>
  			<p><input type="radio" name="answer" value="B">When the steering wheel turns all four wheels</p>
  			<p><input type="radio" name="answer" value="C">When all Four wheels are spinning</p>
  			<p><input type="radio" name="answer" value="D">A transmission system that provides power directly to all four wheels of a vehicle</p>
  			<input type="submit">
		</font></center></form>
	</div>
	</body>
</html>
