<!DOCTYPE html>
<html>
	<head>
		<title>Seventh Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<p>Who won his third and Final Formula 1 World Drivers championship in a car of his own design?</p>
		<form action="/question8" method="get">
  			<p><input type="radio" name="answer" value="A">Neal Armstrong</p>
  			<p><input type="radio" name="answer" value="B">Patric Star</p>
  			<p><input type="radio" name="answer" value="C">Jack Brabham</p>
  			<p><input type="radio" name="answer" value="D">James Murphy</p>
  			<input type="submit">
		</form>
		<p><%= SCORE %></p>
	</body>
</html>