<!DOCTYPE html>
<html>
	<head>
		<title>Sixth Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<center><font color="white"><h1>What is the best-selling vehicle nameplate in the world?</h1></font></center>
		<form action="/question7" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Ford Mustang</p>
  			<p><input type="radio" name="answer" value="B">Volkswagen Beetle</p>
  			<p><input type="radio" name="answer" value="C">Honda Civic</p>
  			<p><input type="radio" name="answer" value="D">Toyota Corolla</p>
  			<input type="submit">
		</font></center></form>
		</div>
	</body>
</html>