<!DOCTYPE html>
<html>
	<head>
		<title> Question</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container">
		<img src="http://motoburg.com/images/ford-mustang-boss-302-03.jpg"> 
		<center><font color="white"><h1>Which car is shown above?</h1></font></center>
		<form action="/question10" method="get"><center><font color="white">
  			<p><input type="radio" name="answer" value="A">Impala</p>
  			<p><input type="radio" name="answer" value="B">Mustang Boss 302</p>
  			<p><input type="radio" name="answer" value="C">Camaro</p>
  			<p><input type="radio" name="answer" value="D">Mustang Cobra Jet</p>
  			<input type="submit">
		</font></center></form>
		</div>
	</body>
</html>