<!DOCTYPE html>
<html>
	<head>
		<title>Results</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body background ="http://wallpapers55.com/wp-content/uploads/2013/10/Car-Dekstop-Background-Wallpaper.jpg"><div class="container"><div class="container">
		<center><font color="white"><h1>You Have scored <%= SCORE %> %</h1></font></center>
	</div>
	</body>
</html>