<!DOCTYPE html>
<html>
	<head>
		<title>Results</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<h1>You Have scored <%= SCORE %> %</h1>
	</body>
</html>